.lesson{background: white; padding: 60px 20px 20px;}

.lesson.scrollbarorange{margin-left: 0;}

.lesson .exercise{
    /* padding-top: 50px; min-height: 100%; height: auto; */
    } 


 img{max-width: 100%;}

 *{box-sizing: border-box;}

 .zoom-effect {    transition: all 0.2s ease-in-out;
    transform-origin: left;
    cursor: pointer;
}
img.zoom-effect{transform-origin: center;}
.zoom-effect:hover {
    transform: scale(1.1);
}

.big-small{ display: flex;}
.big-small .left-col,.big-small .right-col{ width: 50%; padding: 5%;}
.big-small .left-col{ background: url(../images/Unit-images/unit-1/lesson-1/big-small-bg1.png) no-repeat; background-size: 100% 100%; text-align: center;}

.big-small .left-col .first-img img { max-width: 100%; }
.big-small .left-col .sec-img img  {max-width: 70%;}

.big-small .right-col{ float: right; background: url(../images/Unit-images/unit-1/lesson-1/big-small-bg2.png) no-repeat; background-size: 100% 100%;}
.big-small .right-col .first-img img { max-width: 38%;}
.big-small .right-col .sec-img {text-align: right;}
.big-small .right-col .sec-img img { max-width: 60%; margin-top: -20%; }


.two-rows .first-row,.two-rows .sec-row{ display: flex; flex-direction: row;}
.two-rows .first-row{margin-bottom: 30px;
    padding-bottom: 30px;}
.two-rows .sub-title{ font-size: 40px;}
.two-rows .sub-title h3{color: #725ba7; float: left;}
.two-rows .sub-title h3 span{ float: right;}
.two-rows .first-row .sub-title h3{font-size: 6rem;}
.two-rows .sec-row .sub-title h3{font-size: 3rem;}

.big-small-sec .first-img,.big-small-sec .sec-img {display: flex; align-items: center; position: relative;}

.two-rows .sub-title,.big-small-sec .first-img,.big-small-sec .sec-img{ width: 33.33%}
.big-small-sec .first-img img{width: 85%; margin-left: 10%;}
.big-small-sec .sec-img img{width: 60%; margin-left: 25%;}

#after_submit{ position: fixed; width: 100%; height:100%; background: rgba(0,0,0,0.5); z-index: 5; left:0; top:0; 
  justify-content: center;
  align-items: center;

 }
.popup-container{max-width: 320px;}

.sub-title .playbtn { position: static;}



.big-small-sec .first-img span,
.big-small-sec .sec-img span { display:none;}
/* 

.correct-answer::before {
    background-image: url(../images/icon-check.png);
}

.wrong-answer::before {
    background-image: url(../images/icon-x.png);
}

.wrong-answer::before,
.correct-answer::before{
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
} */



.correct-answer .tick {
    background-image: url(../images/icon-check.png);
}

.wrong-answer .cross {
    background-image: url(../images/icon-x.png);
}

.wrong-answer .cross
{
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.correct-answer .tick{
    width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.playbtn{cursor: pointer;}

.actionbtn.reloadbtn{bottom: 50px; position: fixed;}

#quiz input[type="radio"] { margin-bottom:0; opacity: 0;}

.U1l1 .first-row .first-img.correct-answer.selected img {filter: contrast(1000%) sepia(100%) saturate(1000%) hue-rotate(138deg);}
.U1l1 .first-row .sec-img.wrong-answer.selected img{filter: contrast(1000%) sepia(100%) saturate(1000%) hue-rotate(269deg);}
.U1l1 .sec-row .first-img.wrong-answer.selected img{filter: contrast(1000%) sepia(100%) saturate(1000%) hue-rotate(86deg);}
.U1l1 .sec-row .sec-img.correct-answer.selected img{filter: contrast(1000%) sepia(100%) saturate(1000%) hue-rotate(31deg);}

.horizontal-divider{position: relative;}
.horizontal-divider:before{
    content:"";
    display: block;
    position: absolute;
    left: -20px;
    top: -70px;
    width: calc(100% + 40px);
    height: 40px;
    background: url(../images/divider.png) no-repeat; background-size: 100% 100%; }


   
/*for Mobile*/
@media only screen and (max-width: 767px) {

    

        .big-small {flex-direction: column; padding-bottom: 30px; }
        .big-small .left-col,.big-small .right-col{ width: 100%; margin: 20px 0; padding: 10%;}


    .two-rows .sub-title h3{display: flex;}
    .two-rows .sub-title span{justify-content: center;
        align-items: center;
        display: flex;}

    .two-rows .first-row .sub-title h3 {
        font-size: 4rem;
    }   
    .two-rows .sec-row .sub-title h3 {
        font-size: 2.5rem;
    }


    .two-rows .sub-title .playbtn img {
        width: 35px;}

        .two-rows .first-row, .two-rows .sec-row{display: block;}
        .two-rows .sub-title{width: 100%; overflow: hidden;}

        .big-small-sec .first-img, .big-small-sec .sec-img {
        width: 48%;
        display: inline-block;
        vertical-align: middle;
    }

    .wrong-answer::before, .correct-answer::before{background-size: 50%;
        background-position: center;}
        .lesson .exercise{padding-top: 0; margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;}
        .actionbtn.reloadbtn{bottom: 42px;}
 
}

@media (max-width: 944px){

    .two-rows .sub-title .playbtn img {
        width: 35px;
        padding: 6px;
        vertical-align: middle;
    }
}

/*for PC*/
@media only screen and (min-width: 768px) {
  
}

/*for Bigger screens*/
@media only screen and (min-width: 1820px) {
  
}


















/*Unit 1 Lesson 2 Start From Here*/

#unit1-lesson2 img {
    display: block;
}
#unit1-lesson2 .topleftlogo img{
	display:inline-block;
}
#unit1-lesson2 .upper-area {
    position: relative;
    min-width: 200px;
    width: 47%;
    margin: 0 auto 80px;
 }

#heavy-books {
    position: absolute;
    right: -18%;
    top: -11%;
    width: 64%;
}

#light-book {
    position: absolute;
    left: -2%;
    top: -10%;
    width: 35%;
}

#unit1-lesson2 .bottom-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heavy-car {
    width: 65%;
}

#heavy-car img{ width: 80%; min-width: 220px;}
#light-trycycle img{ width: 70%; min-width: 150px;}

#light-trycycle {
    width: 35%;
}

#unit1-lesson2 .upper-area2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 53px;
}
#unit1-lesson2 .upper-area2 #baloon h3{
    position: absolute;
    left: 0;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    top: 52%;
    transform: translateY(-210%);
    color: #ec008c;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;

    white-space: nowrap;
    padding-left: 18%;
}
#unit1-lesson2 .upper-area2 #baloon{
    width: 16%;
    min-width: 16%;
    align-self: flex-start;
    position: relative;
    z-index: 5;
}

#unit1-lesson2  #stone  .playbtn, #unit1-lesson2  #baloon  .playbtn{    top: auto; position: static;
    display: inline-block;}

#unit1-lesson2 .upper-area2 #house.selected:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 123.5%;
    content: "";
    border: 6px solid #2E2E2E;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 999999999; */
}
#unit1-lesson2 .upper-area2 #house{
    width: 50%;
    min-width: 50%;
    margin-bottom: 23px;
    position: relative;
}
#unit1-lesson2 .upper-area2 #houseWithHand.selected:after {
    border: 6px solid #2E2E2E;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    HEIGHT: 80.3%;
    border-radius: 50%;
}
#unit1-lesson2 .upper-area2 #houseWithHand{
    min-width: 25%;
    width: 25%;
    position: relative;
}
#unit1-lesson2 .bottom-area2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#unit1-lesson2 .bottom-area2 #stone{
    width: 33%;
    min-width: 33%;
    position: relative;
    align-self: flex-end;
    z-index: 5;
}
#unit1-lesson2 .bottom-area2 #stone h3{
    position: absolute;
    left: 0;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #ec008c;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;

    white-space: nowrap;
    padding-left: 20%;
}
#unit1-lesson2 .bottom-area2 #comb.selected:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 135%;
    border: 6px solid #2E2E2E;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
#unit1-lesson2 .bottom-area2 #comb{
    width: 18%;
    min-width: 18%;
    margin-bottom: 23px;
    position: relative;
}
#unit1-lesson2 .bottom-area2 #machine.selected:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 92%;
    height: 107.16%;
    border: 6px solid #2E2E2E;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#unit1-lesson2 .bottom-area2 #machine{
    min-width: 35%;
    width: 35%;
    position: relative;
}
.right-speaker .playbtn{
    left: auto;
    right: -40px;
    position: absolute;
}
#stone.right-speaker .playbtn{
    right: 0;
}
/*Unit 1 Lesson 2 End From Here*/


@media (max-width:944px) {

    /*Unit 1 Lesson 2 Start From Here*/
    #unit1-lesson2 .upper-area{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    /*Unit 1 Lesson 2 End From Here*/
}

@media (max-width:700px) {
        
    /*Unit 1 Lesson 2 Start From Here*/
    #unit1-lesson2 .upper-area{
        
    }
        #unit1-lesson2 .bottom-area{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    #unit1-lesson2 .upper-area2{
        padding-left: 90px;
        position: relative;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    #unit1-lesson2 .upper-area2 #baloon h3{
        font-size: 1.5rem;
        transform: translateY(-216%);
    }
    #unit1-lesson2 .upper-area2 #baloon{
        width: 80px;
        min-width: 80px;
        position: absolute;
        left: 0;
        top: 30px;
    }
    #unit1-lesson2 .upper-area2 #house {
        width: 90%;
        min-width: 90%;
    }
    #unit1-lesson2 .upper-area2 #houseWithHand {
        min-width: 65%;
        width: 65%;
    }
    #unit1-lesson2 .bottom-area2 #stone{
        position: absolute;
        left: 0;
        top: 40px;
        width: 110px;
        min-width: 110px;
    }
    #unit1-lesson2 .bottom-area2{
        padding-left: 120px;
        flex-direction: column;
    align-items: center;
    }
    #unit1-lesson2 .bottom-area2 #comb{
        width: 48%;
        min-width: 48%;
    }
    #unit1-lesson2 .bottom-area2 #machine{
        width: 100%;
        min-width: 100%;
    }
    #unit1-lesson2 .bottom-area2 #stone h3{
        font-size: 1.5rem;
    }
    .right-speaker .playbtn{
        right: -10px;
    }

    #heavy-car{margin-bottom: 20px;}
    #light-trycycle img{margin: 0 auto;}

.lesson{padding-top: 0; }
    /*Unit 1 Lesson 2 End From Here*/
}